<li>
    <a href="{{link}}"><h3>{{title}}</h3></a>
    <button class="saveArt" data-id="{{id}}" data-newsave="{{saved}}">Save Article</button>
    <button class="delete" data-id="{{id}}">Delete Article</button>
</li>